<form>
  <div>
    <label for="name" class="form-check-label">Name:</label>
    <input name="name" class="form-control" id="name" type="text" [(ngModel)]="phoneItem.name" >
  </div>
  <br>
  <div>
    <label for="phone" class="form-check-label">Phone:</label>
    <input name="phone" class="form-control" id="phone" type="text" placeholder="(00)00000-0000" mask="(00)00000-0000" [(ngModel)]="phoneItem.phone">
  </div>
  <br>
  <div>
    <label for="cpf" class="form-check-label">CPF:</label>
    <input name="cpf" class="form-control" id="cpf" type="text" placeholder="000.000.000-00" mask="000.000.000-00" [(ngModel)]="phoneItem.cpf">
  </div>
  <br>
  <div>
    <label for="isInternational" class="form-check-label">Seu número é internacional?:</label>
    <br>
    <input id="isInternational" type="radio" name="isInternationalTrue" [(ngModel)]="phoneItem.isInternational">
    <label>Sim</label>
  </div>
  <br>
  <div>
    <label for="status" class="form-check-label">Status:</label>
    <input name="status" class="form-control" id="status" type="text" placeholder="disponivel ou indisponivel" [(ngModel)]="phoneItem.status">
  </div>
  <br>
  <div>
    <label for="idade" class="form-check-label">Idade:</label>
    <input name="idade" class="form-control" id="idade" type="number" [(ngModel)]="phoneItem.idade">
  </div>
  <br>
  <button type="submit" class="btn btn-primary" (click)="onSubmit()">Enviar</button>
  <br>
  <a [routerLink]="['/phonebook']">Voltar ao home</a>
</form>

