<link rel="stylesheet" href="app.component.scss">
<app-page [nome]="nome"></app-page>

<form #form="ngForm">
  <div class="inputs">
    <label>Nome:*</label>
    <input name=nome [(ngModel)]="nome"/>
  <br>
    <label>Idade:*</label>
    <input type="number" name=idade [(ngModel)]="idade" />
  <br>
    <label>CPF:</label>
    <input type="text" name=cpf [(ngModel)]="CPF" mask="000.000.000-00"/>
  <br>
    <label>Email:*</label>
    <input type="email" name="email" [(ngModel)]="email" ngModel [email]="true"/>
  <br>
  </div>
</form>
<div class="botoes">
  <button (click)="submit(form)">Enviar</button>
  <button (click)="maiorIdade()">teste</button>
  <button (click)="nomeMaiusculo()">Maiusculo</button>
  <button (click)="nomeMinusculo()">Minusculo</button>
</div>
