<!--Testa se o status do phoneItem é disponivel então adiciona a class phone-item-->
<div *ngIf="phoneItem.status === 'disponivel'" class="phone-item">
  <div class="dados">
    <!--Interpola o dado com o atributo para atualizar o p-->
    <p>Name: {{phoneItem.name}}</p>
    <p>Status: {{phoneItem.status}}</p>
    <p>CPF: {{phoneItem.cpf}}</p>
    <br><br>
    <div class="botoes">
      <button (click)="delete(phoneItem.id)"  class="butExcluir">Excluir</button>
      <button [routerLink]="['./EditPhoneItem/', phoneItem.id]" class="butEditar">Editar</button>
    </div>
  </div>
</div>
<br>
