<div class="card-container">
  <div class="card">
    <div *ngIf="phoneItem.status === 'disponível'" class="phone-item">
      <div class="dados">
        <p>Name: {{phoneItem.name}}</p>
        <p>Status: {{phoneItem.status}}</p>
        <p>CPF: {{phoneItem.cpf}}</p>
        <p *ngIf="phoneItem.isInternational === true">Usuário Internacional</p>
        <p>Telefones auxiliares:</p>
        <small>{{phoneItem.auxiliarPhones}}</small>
        <br><br>
        <div class="botoes">
          <button class="butExcluir">Excluir</button>
          <button class="butEditar">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
