.phone-item {
  display: inline-flex;
  background-color: #b69bff;
  margin-top: 0.5%;
  padding: 0.5%;
  border-radius: 5%;
  text-align: center;
  width: 25%;
}
.butExcluir{
  width: 80%;
  padding: 15%;
  align-items: center;
  border-color: transparent;
  border-radius: 5%;
  background-color: #ff8783;
  font-size: 120%;
}
.butEditar{
  margin-top: 5%;
  width: 80%;
  padding: 15%;
  margin-left: 1%;
  align-items: center;
  border-color: transparent;
  border-radius: 5%;
  background-color: #ffe683;
  font-size: 120%;
}
